# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.wheel

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyenv
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm/IntelliJ IDEA
.idea/

# VSCode
.vscode/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# flake8
.flake8

# pylint
.pylint.d/

# Bandit
.bandit/

# Unit test / coverage reports
*.cover
.coverage.*
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml

​⬤
